 {% load static %}
<!DOCTYPE html>
<html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ quiz.title }} - PasYear Questions </title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          rel="stylesheet"
        />
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

        <link href="{% static 'css/output.css' %}" rel="stylesheet">

        <style>
          html {
            scroll-behavior: smooth;
          }
        </style>
      </head>
      <body class="bg-gray-100 min-h-screen font-sans">
        {% include 'components/Navbar.html'%}
        <div class="container mx-auto px-4 py-20">
          <h1 class="text-2xl font-bold text-center text-blue-600 mb-6">
            {{ quiz.title }}
            <div>
              <span class="text-sm text-gray-500"
                >({{ quiz.question_set.all|length }} Questions)</span
              >
            </div>
          </h1>
          <p class="text-xl text-center text-gray-700 mb-8 font-sans">
            {{ quiz.description }}
          </p>

          <div class="bg-white shadow-md rounded-lg p-6 mb-8">
            <div class="flex justify-between items-center mb-4">
              <span class="text-lg text-gray-600">
                <i class="far fa-calendar-alt mr-2"></i>{{ quiz.created_at
                |date:"F d, Y" }}
              </span>
              <span class="text-lg font-semibold text-blue-600" id="timer">
                <i class="far fa-clock mr-2"></i>00:00
              </span>
              <form id="quiz-form" action="" method="post" class="space-y-6">
                {% csrf_token %}
                <div class="flex justify-center space-x-4">
                  <button
                    type="button"
                    id="start-button"
                    class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-300 ease-in-out transform hover:scale-105"
                  >
                  <i class="fas fa-play mr-2"></i>Start Quiz
                    </button>
                    <button
                  type="button"
                  id="restart-button"
                  class="hidden bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-300 ease-in-out transform hover:scale-105"
                    >
                    <i class="fas fa-redo mr-2"></i>Restart Quiz
                    </button>
                    <button
                    type="submit"
                    id="submit-button"
                    class="hidden bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-300 ease-in-out transform hover:scale-105"
                    >
                    <i class="fas fa-paper-plane mr-2"></i>Submit Quiz
                    </button>
                </div>
              </form>
            </div>

            {% for message in messages %}
            <div
              id="message-div"
              class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-4"
              role="alert"
            >
              <p class="font-bold">{{ message }}</p>
            </div>
            {% endfor %}

            <form id="quiz-form" action="" method="post" class="space-y-6">
              {% csrf_token %}
              <input type="hidden" name="score" value="0" id="user-score" />

              {% for question in quiz.question_set.all %}
              <div class="bg-gray-50 rounded-lg p-6 question">
                <p class="text-lg text-gray-700 mb-4 select-none">{{ forloop.counter }}). {{ question.text }}</p>
                <div class="space-y-2">
                  {% for option in question.choice_set.all %}
                  <div class="flex items-center">
                    <input
                      class="form-radio h-5 w-5 text-blue-600"
                      type="radio"
                      name="{{ option.question.id }}"
                      id="{{ option.id }}"
                      value="{{ option.text }}"
                    />
                    <label class="ml-2 text-gray-700" for="{{ option.id }}">
                      {{ option.text }}
                    </label>
                    {% if option.is_correct %}
                    <span class="hidden correct-answer">{{ option.text }}</span>
                    {% endif %}
                  </div>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}

              
            </form>

          </div>
          
        </div>
        {% include 'components/Footer.html'%}

        <script>
          // Elements
          const startButton = document.getElementById("start-button");
          const restartButton = document.getElementById("restart-button");
          const submitButton = document.getElementById("submit-button");
          const timerSpan = document.getElementById("timer");
          const quizForm = document.getElementById("quiz-form");
          const questions = document.querySelectorAll(".question");
          const userScoreInput = document.getElementById("user-score");

          let quizDuration = questions.length * 60; // convert to seconds
          let quizTimerId;
          let quizStarted = false;

          // Start Quiz
          function startQuiz() {
            quizStarted = true;
            startButton.classList.add("hidden");
            submitButton.classList.remove("hidden");
            restartButton.classList.remove("hidden");
            questions.forEach((q) =>
              q.classList.remove("opacity-50", "pointer-events-none")
            );
            quizTimerId = setInterval(updateTimer, 1000);
          }

          // Update Timer
          function updateTimer() {
            const minutes = Math.floor(quizDuration / 60);
            const seconds = quizDuration % 60;
            timerSpan.innerHTML = `<i class="far fa-clock mr-2"></i>${minutes}m ${seconds}s`;

            if (quizDuration <= 0) {
              clearInterval(quizTimerId);
              submitQuiz();
            } else {
              quizDuration--;
            }
          }

          // Submit Quiz
          function submitQuiz() {
            calculateScore();
            quizForm.submit();
          }

          // Calculate Score
          function calculateScore() {
            let score = 0;
            questions.forEach((question) => {
              const selectedInput = question.querySelector("input:checked");
              const correctAnswer =
                question.querySelector(".correct-answer").innerText;
              if (selectedInput && selectedInput.value === correctAnswer) {
                score += 1;
              }
            });
            userScoreInput.value = score;
          }

          // Highlight Correct Answers
          function highlightCorrectAnswers() {
            questions.forEach((question) => {
              const correctAnswer = question.querySelector(".correct-answer");
              const correctInput = question.querySelector(
                `input[value="${correctAnswer.innerText}"]`
              );
              correctInput.parentElement.classList.add("bg-green-100");
              correctInput.nextElementSibling.classList.add(
                "font-bold",
                "text-green-700"
              );
            });
            submitButton.disabled = true;
            document
              .querySelectorAll(".form-radio")
              .forEach((radio) => (radio.disabled = true));
          }

          // Restart Quiz
          function restartQuiz() {
            quizStarted = false;
            clearInterval(quizTimerId);
            quizDuration = questions.length * 60;
            timerSpan.innerHTML = `<i class="far fa-clock mr-2"></i>10:00`;
            quizForm.reset();
            submitButton.disabled = false;
            document
              .querySelectorAll(".form-radio")
              .forEach((radio) => (radio.disabled = false));
            questions.forEach((q) => q.classList.remove("bg-green-100"));
            document
              .querySelectorAll("label")
              .forEach((label) =>
                label.classList.remove("font-bold", "text-green-700")
              );
            startButton.classList.remove("hidden");
            submitButton.classList.add("hidden");
            restartButton.classList.add("hidden");
            questions.forEach((q) =>
              q.classList.add("opacity-50", "pointer-events-none")
            );
          }

          // Event Listeners
          startButton.addEventListener("click", startQuiz);
          restartButton.addEventListener("click", restartQuiz);
          submitButton.addEventListener("click", submitQuiz);

          // Initialize
          questions.forEach((q) =>
            q.classList.add("opacity-50", "pointer-events-none")
          );

          // Check if quiz is already submitted (for when showing results)
          if (document.getElementById("message-div")) {
            highlightCorrectAnswers();
          }
          
          
        </script>
      </body>
    </html>
  </body>
</html>

