{% extends "admin/base_site.html" %} {% block content %}
<h1>Traffic Dashboard</h1>

<canvas id="trafficChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  var ctx = document.getElementById('trafficChart').getContext('2d');
  var trafficChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: {{ dates|safe }},
          datasets: [{
              label: 'Total Visits',
              data: {{ total_visits|safe }},
              borderColor: 'rgba(54, 162, 235, 1)',
              borderWidth: 1,
              fill: false,
          },
          {
              label: 'Unique Visitors',
              data: {{ unique_visitors|safe }},
              borderColor: 'rgba(255, 99, 132, 1)',
              borderWidth: 1,
              fill: false,
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
</script>
{% endblock %}
